In [2]:
# list
# indexing
# multiple data
# duplicate data
# ordered
# mutable

In [3]:
a = ["Apple","Ball","Cat","Dog"]
b = [1,2,3,4,5,6,7]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [5]:
a = ["Apple","Ball","Cat","Dog"]
print (len(a))
print (a[2])

4
Cat

In [6]:
a = ["Apple","Ball","Cat","Dog"]
b = ["Fish"]
c = a+b
print (c)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [9]:
a = ["Apple","Ball","Cat","Dog"]
a[0] = "Ant"
print (a)

['Ant', 'Ball', 'Cat', 'Dog']

In [10]:
#printing list using for
for i in a:
    print(i)

Ant
Ball
Cat
Dog

In [13]:
data = []   # or list()
n = int(input("Enter the value of n ="))
for i in range(n):
    x = input("Enter x =")
    data = data + [x]   #or   data.append(s)
    
print(data)

ENter the value of n =5
Enter x =This
Enter x =is
Enter x =a
Enter x =list
Enter x =okay
['This', 'is', 'a ', 'list', 'okay']

In [2]:
data = []   # or list()
n = int(input("Enter the value of n ="))
for i in range(n):
    x = int(input("Enter x ="))
    data = data + [x]   #or   data.append(s)
    
print(data)
print(max(data))
print(min(data))
print(sum(data))
data.sort()
print(data)
data.reverse()
print(data)
print(type(data[1]))

Enter the value of n =2
Enter x =3
Enter x =4
[3, 4]
4
3
7
[3, 4]
[4, 3]
<class 'int'>

In [5]:
a = ["A", "B","C","D","E","F","G","H"]
print(a[0:5])
print(a[0:7:2])

['A', 'B', 'C', 'D', 'E']
['A', 'C', 'E', 'G']

In [13]:
#append() insert() extend()
a = ["a","b","c","d","e"]
b = ["1","2","3","4","5"]
a.insert(2,"OKay")
print(a)
a.extend(b)
print(a)

['a', 'b', 'OKay', 'c', 'd', 'e']
['a', 'b', 'OKay', 'c', 'd', 'e', '1', '2', '3', '4', '5']

In [16]:
#del remove()

a = ["a","b","c","d","e","f"]
del a[0]
del a[0:4]
print(a)
a.remove("f")
print(a)

['f']
[]

In [17]:
#pop()
a = ["a","b","c","d","e","f"]
b = a.pop(4)
print(a)
print(b)

['a', 'b', 'c', 'd', 'f']
e

In [19]:
#remove multiple data from list
a = ["a","b","c","d","e","f","a"]
for i in a:
    if i == "a":
        a.remove(i)

print(a)

['b', 'c', 'd', 'e', 'f']

In [22]:
#print index in list in case of multiple data
a = ["ant","cat","dog","cat"]
l = len(a)
for i in range(l):
    if a[i] == "cat":
        print(i)

1
3

In [4]:
#list inside list (Nested List)
a = [[1,2,3],[4,5,6],[7,8,9]]
print(type(a))
len(a)
print(len(a))
print(a[0])
print(a[0][0])

<class 'list'>
3
[1, 2, 3]
1

In [6]:
a = [["Ram",34,"Kathmandu"],["Shyam",23,"Bhaktapur"],["Sita",45,"Palpa"]]
print(a[1][1])

23

In [10]:
info = []
n = int(input("Enter n="))
for i in range(n):
    name = input("Enter name =")
    age = int(input("Enter age ="))
    add = input("Enter address =")
    data = [name,age,add]
    info.append(data)
    
search = input{print(info)

Enter n=3
Enter name =Ram
Enter age =12
Enter address =Ktm
Enter name =Sita
Enter age =24
Enter address =Bkt
Enter name =Yog
Enter age =33
Enter address =Ltr
[['Ram', 12, 'Ktm'], ['Sita', 24, 'Bkt'], ['Yog', 33, 'Ltr']]

In [15]:
search = input("Enter name =")
for i in info:
    if search in i:
        print(i)

Enter name =Sita
['Sita', 24, 'Bkt']