In [4]:
#d = {<key>:<value>,<key>:<value>,<key>:<value>}
d = {"a":"Apple","b":"Ball","c":"Cat"}
print(d)
print(d["a"])
print(type(d))
print(len(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
Apple
<class 'dict'>
3

In [8]:
data = {} #empty dictionary
data ["a"] = "Apple"
data["b"] = "Ball"
print(data)

{'a': 'Apple', 'b': 'Ball'}

In [14]:
for i in data:
    print(i)
    
for i in data.values():
    print(i)

for i in data.items():
    print(i)

a
b
Apple
Ball
('a', 'Apple')
('b', 'Ball')

In [15]:
x = []
for i in data.items():
    x.append(i)
print(x)

[('a', 'Apple'), ('b', 'Ball')]

In [16]:
d  = [('a','apple'),('b',"Ball"),('c','cat')]
dict(d)

{'a': 'apple', 'b': 'Ball', 'c': 'cat'}

In [19]:
d = {'a':'apple','b':'ball','c':'cat'}
del d['a']
print(d)
d.clear()
print(d)

{'b': 'ball', 'c': 'cat'}
{}

In [20]:
d = {'a':'apple','b':'ball','c':'cat','A':'Apple'}
d.pop('b')
d

{'a': 'apple', 'c': 'cat', 'A': 'Apple'}

In [21]:
info = {}
n = int(input("Enter the value of n="))
for i in range(n):
    name = input("Enter name=")
    phone = int(input("Enter phone="))
    info[name] = phone

print(info)

Enter the value of n=2
Enter name=Ram
Enter phone=77888
Enter name=Shyam
Enter phone=333
{'Ram': 77888, 'Shyam': 333}

In [22]:
a = {'Ram': [77888,98999], 'Shyam': [333,90909]}
a

{'Ram': [77888, 98999], 'Shyam': [333, 90909]}

In [24]:
info = {}
n = int(input("Enter the value of n="))
for i in range(n):
    name = input("Enter name=")
    ntc_phone = int(input("Enter ntc phone="))
    ncl_phone = int(input("Enter ncel phone="))
    info[name] = [ntc_phone,ncl_phone]

print(info)

Enter the value of n=2
Enter name=Rita
Enter ntc phone=222
Enter ncel phone=3444
Enter name=Gita
Enter ntc phone=334
Enter ncel phone=345
{'Rita': [222, 3444], 'Gita': [334, 345]}

In [26]:
#dic inside list
info = [{"Name":"Ram","Age":34,"Address":"Bara"},{"Name":"Shyam","Age":32,"Address":"Chitwan"}]
info[0]

{'Name': 'Ram', 'Age': 34, 'Address': 'Bara'}

In [29]:
#dict inside dict
info = {1:{'Name':'Ram','Class':10}, 2:{'Name':'Shyam','Age':23}}
for i in info.items():
    print(i)

(1, {'Name': 'Ram', 'Class': 10})
(2, {'Name': 'Shyam', 'Age': 23})

In [33]:
info[3] = {'Name':'Akash','Class':9}
print(info)

{1: {'Name': 'Ram', 'Class': 10}, 2: {'Name': 'Shyam', 'Age': 23}, 3: {'Name': 'Akash', 'Class': 9}}

In [34]:
info[1]['Name']

'Ram'

In [38]:
data = {}
n = int(input("Enter n="))
for i in range(1,n+1):
    name = input("Enter name=")
    classs = int(input("Enter class="))
    data[i] = ['Name':name,'class':classs]

data

SyntaxError: invalid syntax (Temp/ipykernel_9920/528074536.py, line 6)